@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    font-size: 17px;
}
.g-cols-1 {
    @apply grid-cols-1
}
.g-cols-2 {
    @apply grid-cols-1 md:grid-cols-2
}
.g-cols-3 {
    @apply grid-cols-1 md:grid-cols-3
}
.full-cover {
    @apply w-full object-cover
}
.full-contain {
    @apply w-full object-contain
}
.inherit-contain {
    @apply object-contain
}
/* .textBase > p{
    @apply text-base
} */
.textLg > p:first-child, .textLg > h1, .textLg > h2,  .textLg > h3, .textLg > h4, .textLg > h5, .textLg > h6{
    @apply text-lg
}
.textXl > p:first-child, .textxl > h1, .textxl > h2,  .textxl > h3, .textxl > h4, .textxl > h5, .textxl > h6{
    @apply text-xl
}
.text2Xl > p:first-child, .text2xl > h1, .text2xl > h2,  .text2xl > h3, .text2xl > h4, .text2xl > h5, .text2xl > h6{
    @apply text-2xl
}
.text3Xl > p:first-child, .text3xl > h1, .text3xl > h2,  .text3xl > h3, .text3xl > h4, .text3xl > h5, .text3xl > h6 {
    @apply text-3xl
}
.text4Xl > p:first-child, .text4Xl > h1, .text4Xl > h2,  .text4Xl > h3, .text4Xl > h4, .text4Xl > h5, .text4Xl > h6 {
    @apply text-4xl
}
.text5Xl > p:first-child, .text5Xl > h1, .text5Xl > h2,  .text5Xl > h3, .text5Xl > h4, .text5Xl > h5, .text5Xl > h6 {
    @apply text-5xl
}
.my5 {
    @apply my-5
}
.my8 {
    @apply my-8
}
.my10 {
    @apply my-10
}
.my20 {
    @apply my-20
}
.my24 {
    @apply my-24
}
.my28 {
    @apply my-28
}
.mb8 {
    @apply mb-8
}
.pX10 {
    @apply px-10
}
.pX50 {
    @apply px-[50px]
}
.pX0 {
    @apply px-0;
}
.pY10 {
    @apply py-10;
}
.pY16 {
    @apply py-16;
}
.pY50 {
    @apply py-[50px];
}
.pY75 {
    @apply py-[75px];
}
.pY0 {
    @apply py-0;
}
.bgTransparent {
    @apply bg-transparent
}
.bgBlack {
    @apply bg-black text-white
}
.bgSlate100 {
    @apply bg-slate-100
}
.bgSlate900 {
    @apply bg-slate-900 text-white
}
.bgGray100 {
    @apply bg-gray-100
}
.bg-231f20 {
    @apply text-white;
   background-color: #231f20
}
.bgBrown {
    background-color: #d3d1c6;
}
.maxW4Xl {
    @apply max-w-[90%] lg:max-w-4xl mx-auto
}
.maxW5Xl {
    @apply max-w-[90%] lg:max-w-5xl mx-auto
}
.maxWNone {
    @apply max-w-none
}
.itemStart {
    @apply items-start
}
.itemCenter {
    @apply items-center
}
.itemEnd {
    @apply items-end
}
.textLeft {
    @apply text-left
}
.textCenter {
    @apply text-center
}
.textRight {
    @apply text-right
}
.table-content table {
    @apply w-full
}
.table-content table th,
.table-content table td {
    @apply p-3
}
.table-content table thead {
    @apply bg-slate-200
}
.table-content table tbody tr:nth-child(even) {
    @apply bg-gray-100
}